.header{
    background-color: black;
    width: auto;
    height: 100px;
}
.headtxt{
    text-align: center;
    padding-top: 5px;
    width: auto;
}
.main{
    margin:auto;
    padding-top: 30px;
    text-align: center;
    width: 1200px;
    height: 550px;
    background-color: fcf6f0;
}
.leftcolumn{
    margin-left: 100px; 

}
.rightcolumn{
    margin-left: 100px;
}
#head{
        color:white;
}
#mainheader{
    text-align: center;
}
#calcbutton{
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(138, 216, 180);
}
#check{
    height: 65px;
    width: 65px;
    background-color: white;
    color: black;
    vertical-align: middle;
}
.inputs{
    width: 300px;
    height: 65px;
}